<%= form_for @volunteer do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <%= f.fields_for :hobbies do |r| %>
    <%= render "hobby_fields", :f => r %>
  <% end %>
  <!-- <div class = "button">
    <%# link_to_add_association 'Add Hobby', f, :hobbies %>
  </div> -->

  <%= f.fields_for :languages do |r| %>
    <%= render "language_fields", f: r %>
  <% end %>
  <!-- <div class = "button">
    <%# link_to_add_association 'Add Language', f, :languages %>
  </div> -->

  <%= f.submit %>
<% end %>
