<p id="notice"><%= notice %></p>

<h1>Pwds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pwds.each do |pwd| %>
      <tr>
        <td><%= link_to 'Show', pwd %></td>
        <td><%= link_to 'Edit', edit_pwd_path(pwd) %></td>
        <td><%= link_to 'Destroy', pwd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pwd', new_pwd_path %>
