<div class="dashboard">
  <div class="form">
    <%= form_for @resident, url: create_resident_profile_path, method: :post do |f| %>
      <h1>Hi <%= @resident.first_name %> <%= @resident.last_name %>! Create your profile!</h1>

      <%= render 'form_partials/new_profile', f: f %>

      <%= f.label "What would you like to teach?"  %>
      <%= f.text_area :to_teach %>

      <%= f.submit "Create Profile" %>
    <% end %>
  </div>
</div>
