<div class="dashboard">
  <div class="form">
    <%= form_for @resident, url: create_resident_profile_path, method: :post do |f| %>
      <h1>Hi <%= @resident.first_name %> <%= @resident.last_name %>! Create your profile!</h1>

      <%= f.fields_for :hobbies do |r| %>
        <div class="field">
          <%= r.label :hobbies %>
          <%= r.select :name, (@hobbies), include_blank: true %>
        </div>
      <% end %>

      <%= f.fields_for :languages do |r| %>
        <div class="field">
          <%= r.label :language %>
          <%= r.select :language, (@language),  include_blank: true %>
        </div>
      <% end %>

      <%= f.fields_for :cultural_backgrounds do |r| %>
      <div class="field">
        <%= r.label :background %>
        <%= r.select :background, (@cultural_background),  include_blank: true %>
      </div>
      <% end %>


      <%= f.fields_for :interactions do |r| %>
        <div class="field">
          <%= r.label :interaction %>
          <%= r.select :interaction, (@interaction),  include_blank: true %>
        </div>
      <% end %>

    <h2>School and Work Info</h2>
      <%= f.fields_for :schoolings do |r| %>
        <div class="field">
          <%= r.label "Name of School" %>
          <%= r.select :name, (@school),  include_blank: true  %>
        </div>
        <div class="field">
          <%= r.label :level %>
          <%= r.select :level, (@level), include_blank: true  %>
        </div>
        <div class="field">
          <%= r.label :specialization %>
          <%= r.select :specialization, (@specialization),  include_blank: true  %>
        </div>
      <% end %>

      <%= f.fields_for :work_experiences do |r| %>
        <div class="field">
          <%= r.label :industry %>
          <%= r.select :industry, (@industry),  include_blank: true %>
        </div>
      <% end %>

      <%= f.label "What would you like to teach?"  %>
      <%= f.text_area :to_teach %>

      <%= f.submit "Create Profile" %>
    <% end %>
  </div>
</div>
