<div class="dashboard">
<p id="notice"><%= notice %></p>

<h1><%= @resident.first_name %>
<%= @resident.last_name %></h1>
<% if @resident.hobbies.any? %>
  <div class="field">
    <h4>Your hobbies:</h4>
    <% @resident.hobbies.each do |hobby| %>
      <p><%= hobby.name %></p>
    <% end %>
  </div>
<% end %>

<% if @resident.schoolings.any? %>
  <div class="field">
    <h4>Your schooling information:</h4>
    <% @resident.schoolings.each do |schooling| %>
      <p><%= schooling.name %></p>
      <p><%= schooling.level %></p>
      <p><%= schooling.specialization %></p>
    <% end %>
  </div>
<% end %>

<% if @resident.languages.any? %>
  <div class="field">
    <h4>Your languages:</h4>
    <% @resident.languages.each do |language| %>
      <p><%= language.language %></p>
    <% end %>
  </div>
<% end %>

<% if @resident.cultural_backgrounds.any? %>
  <div class="field">
    <h4>Your cultural background:</h4>
    <% @resident.cultural_backgrounds.each do |cultural_background| %>
      <p><%= cultural_background.background %></p>
    <% end %>
  </div>
<% end %>

<% if @resident.work_experiences.any? %>
  <div class="field">
    <h4>Your industry:</h4>
    <% @resident.work_experiences.each do |industry| %>
      <p><%= industry.industry %></p>
    <% end %>
  </div>
<% end %>

<% if @resident.availabilities.any? %>
  <div class="field">
    <h4>Your availabilities:</h4>
    <% @resident.availabilities.each do |availability| %>
      <p><%= availability.timeslot %></p>
    <% end %>
  </div>
  <% end %>

  <% if @resident.to_teach != "" %>
    <div class="field">
      <h4>You want to teach this:</h4>
      <%= @resident.to_teach %>
    </div>
  <% end %>

  <% if @resident.availabilities.any? %>
    <div class="button" id="match-button"><%= link_to 'Match', get_matches_path %></div>
  <% end %>
</div>





<br>
<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %> |
<%= link_to 'Set Up Profile', new_resident_profile_path %> |
<%= link_to 'Set Availability', new_resident_availability_path %> |
<%= link_to 'Log Out', session_path('vanilla mint'), method: :delete %> |
