<!DOCTYPE html>
<html>
  <head>
    <title>Dementiahack</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Meera+Inimai|Nunito:300|Palanquin+Dark|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div class="nav-bar">
      <div class="logo"><%= image_tag(("brain.png"), id: "brain") %><h1 class="title"><%= link_to "ConnectDem", root_url %></h1></div>
      <% if session[:user_id]  %>
        <div class="link-bar">
          <%= link_to 'Edit', edit_volunteer_path(@volunteer.id) %>
          <%= link_to 'Set Up Profile', new_profile_path %>
          <%= link_to 'Set Availability', new_availability_path %>
          <%= link_to 'Log Out', session_path('chocolate mint'), method: :delete %>
        </div>
      <% else %>
        <div class="login-bar">
          Have an account already? <%= link_to "Log in", new_session_path %>
        </div>
      <% end %>
    </div>

    <div class="shell">
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p class="footer">© 2017 ConnectDem , David R. Stephen H. Richard S. Akshit S.</p>
    </footer>
  </body>
</html>
