<!DOCTYPE html>
<html>
  <head>
    <title>Dementiahack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <% if flash.any? %>
      <%= flash.message %>
    <% end %>
    <div class="nav-bar">
      <h1 class="title">ConnectDem</h1>
      <% if session[:user_id] != nil  %>
      <div class="link-bar">
        <%= link_to 'Edit', edit_volunteer_path(@volunteer) %>
        <%= link_to 'Back', volunteers_path %>
        <%= link_to 'Set Up Profile', new_profile_path %>
        <%= link_to 'Set Availability', new_availability_path %>
        <%= link_to 'Log Out', session_path('chocolate mint'), method: :delete %>
      </div>
      <% end %>
    </div>
    <div class="shell">
      <%= yield %>
    </div>
  </body>
  <body>
    <footer>
      <p class="footer">© 2017 Mindr , David R. Stephen H. Richard S. Akshit S.</p>
    </footer>
  </body>
</html>
