<!DOCTYPE html>
<html>
  <head>
    <title>Dementiahack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <% if flash.any? %>
      <%= flash %>
    <% end %>
    <%= yield %>
  </body>
  <body>
    <footer>
      <p class="footer">© 2017 Mindr , David R. Stephen H. Richard S. Akshit S.</p>
    </footer>
  </body>
</html>
